@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  

    <form action="Home/Test">
        <input name="name" type="text" placeholder="User Name" />
        <button type="submit">Submit</button>
    </form>
</div>
